.iconContainer {
    background-color: #fafafa;
    /*background-color: silver;*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sectionhowWeWork .iconContainer img{
    width: 40%;
}

#sectionhowWeWork h3 {
    font-size: 1.05rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

#sectionhowWeWork p {
    font-size: 0.98rem;
    color: #9e9e9e;
}

@media (max-width: 768px) {
    #sectionhowWeWork .main-title {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}
