@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto', serif !important;
    font-weight: 500 !important;
    font-size: 1.08rem !important;
}

/*#root{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}*/

.px-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.main-title {
    font-size: 24px;
    margin-top: 5rem;
}

.text-normal {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.3;
}
.no-bold{
    font-weight: normal;

}
.big-margin {
    margin-left: 15rem;
    margin-right: 15rem;
}

.shadow-medium {
    box-shadow: 0 0 1.1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-card{
    box-shadow: 0 3px 9px -2px rgba(0,0,0,.5);
}

.margin-header{
    /*margin-top: 66px!important;*/
}

.error{
    border: solid 1px rgba(171,1,0,0.82)!important;
}

.search-input{
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
    border-right: none;
}

.no-border-radius{
    border-radius: 0!important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    top: 51px;
    border-radius: 0;
    border-top: none;
    background: #f5f2f2;
    left: -13px;
}
.dropdown-menu.left{
    /*left: -100%;*/
}
.dropdown-menu.left a{
    padding-left: 10px;
    padding-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button-empty{
    background: none;
    border: none;
}
@media (max-width: 992px) {
    .big-margin {
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    }

}
@media (max-width: 768px) {
    .w-md-100 {
        width: 100%;
    }
}
@media (max-width: 576px) {
    .h4-small{
        font-size: 1.25rem;
    }
}
