@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
body{
    font-family: 'Roboto', serif!important;
    font-weight: 500!important;
    font-size: 1.08rem!important;
}

.px-6{
    padding-left: 6rem!important;
    padding-right: 6rem!important;
}

.mainTitle{
    font-size: 1.5rem;
    margin-top: 5rem;
}
